.chat-current__send-form {
    position: relative;
    display: flex;
    align-items: center;
}

.chat-current__send-input {
    padding: 14px 14px 14px 50px;
    margin-bottom: 0;
}

.chat-current__send-button-wrapper {
    position: relative;
    height: 62px;
    flex: 0 0 90px;
    margin-left: 20px;
}

.chat-current__send-button {
    position: absolute;
}

.chat-current__send-button::after {
    content: var(--icon-send);
    font-family: var(--font-icons);
}

.chat-current__attach-button {
    position: absolute;
    top: 18px;
    left: 16px;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: var(--color-text-invert);
    cursor: pointer;
    outline: none;
}

.chat-current__attach-button:hover,
.chat-current__attach-button:active,
.chat-current__attach-button:focus,
.chat-current__attach-button:active:focus,
.chat-current__attach-button:hover:focus {
    background: none;
    box-shadow: none;
}

.chat-current__attach-button::after {
    position: absolute;
    top: 0;
    left: 0;
    content: var(--icon-attach);
    font-family: var(--font-icons);
    font-size: 24px;
}
