.form {
    min-width: 410px;
    padding: 30px;
    background-color: var(--color-dimmed);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-blur);
}

.form__title {
    margin-bottom: 30px;
    text-align: center;
}

.form__button-wrapper {
    height: 70px;
    margin-top: 50px;
    text-align: center;
}

.form__aditional-link {
    display: block;
    margin: 20px 0;
    font-size: var(--font-size-small);
    text-align: center;
}

.form-actions__action {
    padding: 20px 0 0;
}

.form-actions__action,
.form-actions__action a {
    color: var(--color-accent-light);
}

.form-actions__action--dimmed,
.form-actions__action--dimmed a {
    color: var(--color-text-dimmed);
}
