.main-window {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 30px;
}

.main-window--login {
    align-items: center;
    justify-content: center;
}

.main-window--chat > div {
    display: flex;
}
