html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    border: none;
    background-color: var(--color-accent-dimmed);
    border-radius: var(--border-radius);
}

body {
    background-color: var(--color-bg);
}

a,
a:visited,
a:focus,
a:active {
    color: var(--color-text);
    text-decoration: underline;
}

a:hover {
    color: var(--color-text);
    text-decoration: none;
}

input {
    width: 100%;
    height: 50px;
    padding: 14px;
    border: none;
    margin-bottom: 30px;
    background-color: var(--color-bg-invert);
    border-radius: var(--border-radius-2);
    box-shadow: var(--inner-shadow-2);
    color: var(--color-text-invert);
}

input:focus {
    box-shadow: var(--inner-shadow-2), var(--shadow-blur);
    outline: none;
}

label {
    display: inline-block;
    padding: 0 0 5px 14px;
    font-size: var(--font-size-small);
}

button {
    height: 62px;
    padding: 0 50px;
    border: none;
    background-color: var(--color-accent);
    border-radius: 60px;
    box-shadow: var(--shadow-strict);
    color: var(--color-text);
    cursor: pointer;
    font-size: var(--font-size-regular);
    font-weight: bold;
    outline: none;
    text-transform: uppercase;
}

.button--icon-solo {
    width: 62px;
    padding: 0;
}

button:hover,
button:hover:focus {
    margin: -2px 0 0 -2px;
    background-color: var(--color-accent-light);
    box-shadow: var(--shadow-strict-hover);
}

button:active,
button:active:focus {
    margin: 2px 0 0 2px;
    background-color: var(--color-accent-light);
    box-shadow: none;
}

button:focus {
    box-shadow: var(--shadow-blur);
}

button:disabled,
button[disabled],
button:disabled:hover,
button[disabled]:hover {
    margin: 0;
    background-color: var(--color-bg);
    color: var(--color-dimmed);
    cursor: default;
}

.button--link-like {
    display: inline;
    height: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: inherit;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    font-weight: normal;
    outline: 0;
    text-decoration: underline;
    text-transform: none;
}

.button--link-like:hover {
    text-decoration: none;
}

.button--link-like:focus {
    margin: 0;
    background-color: transparent;
    box-shadow: none;
    outline: 5px auto Highlight;
    outline: 5px auto -webkit-focus-ring-color;
}

.button--link-like:hover,
.button--link-like:active,
.button--link-like:active:focus,
.button--link-like:hover:focus {
    margin: 0;
    background-color: transparent;
    box-shadow: none;
    outline: none;
}
