@font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    src:
        url("../../static/fonts/Montserrat-Bold.woff2") format("woff2"),
        url("../../static/fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    src:
        url("../../static/fonts/Montserrat-Regular.woff2") format("woff2"),
        url("../../static/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "Rubik";
    font-style: normal;
    font-weight: normal;
    src:
        url("../../static/fonts/Rubik-Regular.woff2") format("woff2"),
        url("../../static/fonts/Rubik-Regular.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "Rubik";
    font-style: italic;
    font-weight: normal;
    src:
        url("../../static/fonts/Rubik-Italic.woff2") format("woff2"),
        url("../../static/fonts/Rubik-Italic.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    src:
        url("../../static/fonts/Rubik-Medium.woff2") format("woff2"),
        url("../../static/fonts/Rubik-Medium.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "Rubik";
    font-style: italic;
    font-weight: 500;
    src:
        url("../../static/fonts/Rubik-MediumItalic.woff2") format("woff2"),
        url("../../static/fonts/Rubik-MediumItalic.woff") format("woff");
}

@font-face {
    font-display: block;
    font-family: "Font Awesome";
    font-style: normal;
    font-weight: 900;
    src:
        url("../../static/fonts/fa-solid-900.woff2") format("woff2"),
        url("../../static/fonts/fa-solid-900.woff") format("woff");
}

:root {
    --color-bg: #2a3950;
    --color-dimmed: #355c7d;
    --color-accent: #c56d86;
    --color-accent-dimmed: #725a7a;
    --color-accent-light: #ff7582;
    --color-text: #ffffff;
    --color-text-invert: #2a3950;
    --color-text-dimmed: #a3b4c2;
    --color-bg-invert: #a3b4c2;
    --shadow-strict: 0 4px 4px rgba(0, 0, 0, 0.25);
    --shadow-strict-hover: 0 6px 4px rgba(0, 0, 0, 0.25);
    --shadow-blur: 0 0 25px rgba(0, 0, 0, 0.6);
    --inner-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    --inner-shadow-2: inset 2px 2px 2px rgba(0, 0, 0, 0.25);
    --border-radius: 20px;
    --border-radius-2: 10px;
    --font-header: "Montserrat", sans-serif;
    --font-regular: "Rubik", sans-serif;
    --font-icons: "Font Awesome";
    --font-size-regular: 18px;
    --font-size-small: 14px;
    --icon-add: "\f067";
    --icon-send: "\f061";
    --icon-search: "\f002";
    --icon-attach: "\f0c6";
    --icon-menu-dots: "\f142";
    --icon-close: "\f00d";
}
