.chat-current {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    padding-left: 30px;
}

.chat-current__name {
    color: var(--color-bg-invert);
}

.chat-current__actions {
    display: inline-block;
}

.chat-current__name h2 {
    display: inline;
    margin-left: 10px;
}

a.chat-current__action {
    display: block;
    color: var(--color-text-dimmed);
    font-size: var(--font-size-small);
}

.chat-current__messages {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column-reverse;
    padding: 0 10px 30px 30px;
    margin-top: auto;
    overflow-y: scroll;
}
