.chat-list {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-dimmed);
    border-radius: var(--border-radius);
    width: 385px;
    height: 100%;
    box-shadow: var(--shadow-blur);
    padding: 25px 0;
}

.chat-list__scroll-area {
    height: 100%;
    overflow-y: scroll;
}

.chat-list__search {
    padding: 5px 30px 20px;
    position: relative;
}

.chat-list__search-button {
    border: none;
    color: var(--color-text-invert);
    background-color: transparent;
    box-shadow: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 40px;
    top: 20px;
    padding: 0;
}

.chat-list__search-button:hover,
.chat-list__search-button:active,
.chat-list__search-button:focus,
.chat-list__search-button:active:focus,
.chat-list__search-button:hover:focus {
    background: none;
    box-shadow: none;
}

.chat-list__search-button::after {
    content: var(--icon-search);
    font-family: var(--font-icons);
    position: absolute;
    top: 0;
    left: 0;
}

.chat-list__add-button-wrapper {
    position: absolute;
    right: 30px;
    bottom: 30px;
    height: 70px;
    width: 70px;
}

.chat-list__add-button:hover {
    right: 32px;
    bottom: 32px;
}

.chat-list__add-button:active {
    right: 28px;
    bottom: 28px;
}

.chat-list__add-button::after {
    content: var(--icon-add);
    font-family: var(--font-icons);
}

.chat-current__time-separator {
    font-size: var(--font-size-small);
    color: var(--color-text-dimmed);
    text-align: center;
    padding-top: 30px;
}
