.chat-list {
    position: relative;
    left: 0;
    display: flex;
    width: 385px;
    height: 100%;
    flex-direction: column;
    padding: 25px 0;
    background-color: var(--color-dimmed);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-blur);
    transition: left var(--transition);
}

.chat-list__scroll-area {
    height: 100%;
    overflow-y: auto;
}

.chat-list__search {
    position: relative;
    padding: 5px 30px 20px;
}

.chat-list__search-button {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: var(--color-text-invert);
    cursor: pointer;
    outline: none;
}

.chat-list__search-button:hover,
.chat-list__search-button:active,
.chat-list__search-button:focus,
.chat-list__search-button:active:focus,
.chat-list__search-button:hover:focus {
    background: none;
    box-shadow: none;
}

.chat-list__search-button::after {
    position: absolute;
    top: 0;
    left: 0;
    content: var(--icon-search);
    font-family: var(--font-icons);
}

.chat-list__add-button-wrapper {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 70px;
    height: 70px;
}

.chat-list__add-button:hover {
    right: 32px;
    bottom: 32px;
}

.chat-list__add-button:active {
    right: 28px;
    bottom: 28px;
}

.chat-list__add-button::after {
    content: var(--icon-add);
    font-family: var(--font-icons);
}

.chat-current__time-separator {
    padding-top: 30px;
    color: var(--color-text-dimmed);
    font-size: var(--font-size-small);
    text-align: center;
}

@media screen and (max-width: 970px) {
    .chat-list {
        position: absolute;
        z-index: 9;
        left: -415px;
        max-width: 100vw;
    }
}
