.main-window--profile > div {
    width: 100%;
    height: 100%;
}

.profile {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: var(--color-dimmed);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-blur);
}

.profile__content {
    max-width: 560px;
    flex-grow: 1;
}

.profile__backlink {
    position: absolute;
    top: 30px;
    right: 30px;
}

.profile__backlink a {
    position: relative;
    color: var(--color-bg);
    text-decoration: none;
    visibility: hidden;
}

.profile__backlink a::after {
    position: absolute;
    top: 0;
    right: 0;
    content: var(--icon-close);
    font-family: var(--font-icons);
    font-size: 40px;
    text-shadow: var(--shadow-strict);
    visibility: visible;
}

.profile__backlink a:hover::after {
    top: -2px;
    right: 2px;
    color: var(--color-accent);
    text-shadow: var(--shadow-strict);
}

.profile__backlink a:hover:active::after {
    top: 2px;
    right: -2px;
    color: var(--color-accent);
    text-shadow: none;
}

.profile__avatar {
    overflow: hidden;
    width: 110px;
    height: 110px;
    margin: auto;
    background-color: var(--color-bg-invert);
    border-radius: var(--border-radius);
}

.profile__avatar img {
    width: 100%;
    object-fit: cover;
}

.profile .form__field {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: solid 1px var(--color-text-dimmed);
    margin-bottom: 30px;
}

.profile input {
    width: auto;
    height: auto;
    padding: 10px;
    border: none;
    margin-bottom: -20px;
    border-radius: var(--border-radius-2);
    text-align: right;
}

.profile input:read-only {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    color: var(--color-text-dimmed);
}

.profile .form__label {
    padding: 0;
    font-size: var(--font-size);
    font-weight: bold;
}

.profile .form__actions {
    padding-top: 100px;
}
